/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require bootstrap.min
 *= require font-awesome
 *= require_self
 */

html {
   height: 100%;
}

body {
    min-height: 100%;
    min-width: 300px;
}

h1 {
    font-size: 30px;
    margin-top: 0px;
}

.list-group-flush {
    margin-top: -1px;
}

.btn-outline-secondary,
.btn-outline-secondary:hover,
.btn-secondary.dropdown-toggle {
    color: #555;
    border-color: #888;
}

.btn>i.fa:not(:last-child) {
    margin-right: 10px;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
}

.col {
    overflow: hidden;
}

.text-truncate {
    width: 100%;
    display: block;
}

/* I had to make these changes to support the iPhone X notch */
#main-container {
    padding-left: 0px;
    padding-right: 0px;
}
/* I had to make these changes to support the iPhone X notch */
#center-container
{
    width: calc(100% - 2rem);
    max-width: 1000px;
    margin-left: constant(safe-area-inset-left);
    margin-right: constant(safe-area-inset-right);
}

#logo
{
    margin-left: constant(safe-area-inset-left);
}

#logout-button
{
    margin-right: constant(safe-area-inset-right);
}