// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#login-container {
    text-align: center;
}

#login-box {
    text-align: left;
    display: inline-block;
    width: 300px;
    padding: 15px 25px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 20px;
}

#login-box>h1 {
    margin-bottom: 30px;
}

#login-box>form>input[type=submit] {
    margin-top: 20px;
}