// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#login-container {
    text-align: center;
    min-height: 100vh
}

#login-box {
    text-align: left;
    display: inline-block;
    width: 300px;
    margin: 20px;
}

#login-box>.card-block>h1 {
    margin-bottom: 30px;
}

#login-box>.card-block>form>input[type=submit] {
    margin-top: 20px;
}