// Place all the styles related to the ShortenedUrl controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
    display: inline-block;
}

#add-url-button {
    float: right;
}

#urls-table td {
    vertical-align: middle;
}

#urls-table>thead>tr>th {
    white-space: nowrap;
}

#urls-table>tbody>tr>:nth-last-child(-n+3) {
    width: 1px;
    white-space: nowrap;
}

#main-container {
    margin-top: 20px;
    padding: 0px 15px 10px;
}

.access-log-list:not(:last-child) {
    margin-bottom: 25px;
}

.col.access-other-info-column {
    width: calc(100% - 30px);
}

.access-time-column {
    width: 50px
}

.access-time-column>.access-time {
    padding: 7px;
}

.access-ip {
    font-weight: bold;
    padding-left: 15px;
}

.access-location {
    padding-top: 3px;
}

.access-referer-link {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}