<% content_for :page_title, page_title_for_admin(t :add_url) %>

<ol class="breadcrumb">
  <li class="breadcrumb-item"><%= link_to t(:home), shortened_urls_path %></li>
  <li class="breadcrumb-item active"><%=t :add_url %></li>
</ol>

<%= render 'form' %>
