<% content_for :stylesheets do %>

<% end %>

<% content_for :content do %>
  <nav class="navbar navbar-toggleable navbar-inverse bg-primary">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/my-urls">URL Shortener</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav mx-auto justify-content-center">
        <li class="nav-item active">
          <a class="nav-link" href="/my-urls">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <ul class="navbar-nav"> 
        <li class='nav-item'>
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
    
  <div id='main-container'>
    <%= content_for?(:shortened_url_content) ? yield(:shortened_url_content) : yield %>
  </div>
<% end %>

<%= render template: "layouts/application" %>